@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
.bckgr{
  background-image: url("./components/principal/cartoon-funny-seamless-wide-fantasy-landscape.jpg");
  text-align: center;
  height: 26vh;
  font-family: 'Patua One', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 100px;
}
.body{
  background-color: #BF6419;
  padding: 1%;
}
.input_search{
  margin: 3%;
}
.card_color{
  background-color: rgb(202, 193, 149);
}